<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            text-align: center;
            height: 100vh;
            width: 100vw;
            background-color: green;
        }

        div.center{
            display: block;
            margin: 0 auto;
            font-size: 20vh;
            color: white;
        }
    </style>
</head>
<body>
<div class="center">登录成功!</div>
</body>
</html>